body{
    background-color: rgb(170, 114, 255);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fcContainer{
    padding-left: 30vw;
    padding-top: 15vh;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;

    transform: translate(-50%, 0%);
}
.card button{
    cursor: pointer;
    width: 30vw;
    height: 75vh;
    background-color: aqua;
    border-radius: 16px;
    box-shadow: 0px 0px 10px black;
    border: 1px solid rgb(255, 255, 255);
    transition: background-color 0.5s ease;
    transition: box-shadow 0.5s ease;
}
#card:hover{
    background-color: rgb(69, 255, 255);
    box-shadow: 0px 0px 30px black;
}